openapi: 3.1.1
info:
  title: ElectricityCredential
  version: 1.1.0
  description: >
    Unified W3C Verifiable Credential (VC Data Model 2.0) issued per meter by
    electricity distribution utilities.

    v1.1 design
    ───────────
    customerProfile holds only non-PII utility identity: customerNumber (CA
    number), optional idRef, energyResources[], and consumptionProfiles[].

    energyResources[] uses EnergyResource/v2.0 as the canonical asset class.
    Multiple topologies are supported — a single customer number may have
    multiple meters (different premises, sub-meters at one site) each with
    their own child DERs linked via parentResources[].

    consumptionProfiles[] is a lightweight array linking tariff/load
    characteristics to a specific meter (via meterId = the meter's resourceId).

    MeterAttributes (the resourceAttributes shape for resourceType = "METER")
    is defined in EnergyResource/v2.0 and referenced here.

    PII (fullName) is exclusively in customerDetails.

    v1.0 → v1.1 field mapping (nothing lost)
    ─────────────────────────────────────────
    customerProfile.meterNumber       → EnergyResource.resourceId         (for METER entries)
    customerProfile.meterType         → MeterAttributes.meterType
    consumptionProfiles[].premisesType      → ConsumptionProfile.premisesType
    consumptionProfiles[].connectionType    → ConsumptionProfile.connectionType
    consumptionProfiles[].sanctionedLoadKW  → ConsumptionProfile.sanctionedLoadKW
    consumptionProfiles[].tariffCategoryCode → ConsumptionProfile.tariffCategoryCode
    generationProfiles[].generationType  → EnergyResource.resourceType   (SOLAR, WIND, …)
    generationProfiles[].capacityKW      → EnergyResource.ratedPowerKw
    generationProfiles[].manufacturer    → EnergyResource.make
    generationProfiles[].modelNumber     → EnergyResource.model
    generationProfiles[].assetId         → EnergyResource.resourceId
    generationProfiles[].commissioningDate → EnergyResource.resourceAttributes.commissioningDate
    storageProfiles[].storageCapacityKWh → EnergyResource.energyCapacityKwh
    storageProfiles[].powerRatingKW      → EnergyResource.ratedPowerKw
    storageProfiles[].storageType        → EnergyResource.resourceAttributes.storageType
    storageProfiles[].assetId            → EnergyResource.resourceId
    storageProfiles[].commissioningDate  → EnergyResource.resourceAttributes.commissioningDate

jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://schema.beckn.io
    description: Canonical schema registry
paths: {}
components:
  schemas:

    ElectricityCredential:
      $id: https://schema.beckn.io/ElectricityCredential/v1.1
      title: ElectricityCredential
      description: >
        Unified W3C Verifiable Credential issued per meter by electricity
        distribution utilities. v1.1 consolidates all asset profiles into
        customerProfile.energyResources[] via EnergyResource/v2.0, and
        separates tariff characteristics into customerProfile.consumptionProfiles[].
      x-tags:
        - energy
        - credential
        - verifiable-credential
        - electricity
        - customer
        - deg
      type: object
      additionalProperties: true
      allOf:
        - $ref: "https://schema.beckn.io/EnergyCredential/v2.0"
      x-jsonld:
        "@context": ./context.jsonld
        "@type": ElectricityCredential
      properties:
        credentialSubject:
          type: object
          required:
            - customerProfile
          x-jsonld:
            "@id": deg:credentialSubject
          properties:
            id:
              type: string
              format: uri
              description: Optional DID of the customer/credential subject.
              x-jsonld:
                "@id": "@id"
            customerProfile:
              $ref: "#/components/schemas/CustomerProfile"
            customerDetails:
              $ref: "#/components/schemas/CustomerDetails"

    CustomerProfile:
      type: object
      description: >
        Non-PII utility customer identity and asset list. Contains only
        the CA number (customerNumber), optional external identity reference
        (idRef), all physical assets (energyResources[]), and tariff/load
        profiles (consumptionProfiles[]). No PII — safe to share without
        customerDetails.

        Multiple topologies: a single customerNumber may have multiple METER
        entries (different premises, or sub-meters at one premises). Each DER
        (SOLAR, WIND, BATTERY, …) declares its parent meter via parentResources[].
        Each ConsumptionProfile links to its meter via meterId.
      required:
        - customerNumber
        - energyResources
      x-jsonld:
        "@id": deg:customerProfile
      properties:
        customerNumber:
          type: string
          minLength: 1
          description: Utility customer account number (CA number).
          x-jsonld:
            "@id": deg:customerNumber
        idRef:
          type: object
          description: External identity reference for the customer (e.g., government-issued ID).
          required:
            - issuedBy
            - subjectId
          x-jsonld:
            "@id": deg:idRef
          properties:
            issuedBy:
              type: string
              format: uri
              description: DID of the authority that issued the identity.
              x-jsonld:
                "@id": deg:issuedBy
            subjectId:
              type: string
              pattern: "^[A-Za-z0-9._-]+:[A-Za-z0-9X_-]+$"
              description: Subject identifier in authority-domain:id-value format.
              x-jsonld:
                "@id": deg:subjectId
        energyResources:
          type: array
          minItems: 1
          description: >
            All physical energy assets for this customer account as
            EnergyResource/v2.0 entries. For METER entries, resourceId is
            the meter serial number (utility-assigned; no URI prefix).
            DERs (SOLAR, WIND, BATTERY, …) declare their parent meter via
            parentResources[].

            Supports arbitrary topologies: multiple meters at one premises,
            meters across multiple premises, shared DERs, microgrids.
          x-jsonld:
            "@id": deg:energyResources
          items:
            $ref: "https://schema.beckn.io/EnergyResource/v2.0#/components/schemas/EnergyResource"
        consumptionProfiles:
          type: array
          minItems: 1
          description: >
            Tariff and load characteristics per meter connection. Each entry
            links to a specific meter via meterId (= that meter's resourceId
            in energyResources[]). Kept separate from MeterAttributes because
            tariff data is administrative and may change independently of the
            physical asset.
          x-jsonld:
            "@id": deg:consumptionProfiles
          items:
            $ref: "#/components/schemas/ConsumptionProfile"

    ConsumptionProfile:
      type: object
      description: >
        Tariff and regulatory load profile for one meter connection. meterId
        links this entry to a METER entry in energyResources[]. sanctionedLoadKW
        and tariffCategoryCode are required; premisesType and connectionType
        are optional.
      required:
        - meterId
        - sanctionedLoadKW
        - tariffCategoryCode
      x-jsonld:
        "@id": deg:ConsumptionProfile
      properties:
        meterId:
          type: string
          minLength: 1
          description: >
            Meter serial number. Matches the resourceId of a METER entry
            in customerProfile.energyResources[].
          x-jsonld:
            "@id": deg:meterId
        sanctionedLoadKW:
          type: number
          minimum: 0.5
          maximum: 10000
          description: Sanctioned/approved electrical load in kilowatts (kW).
          x-jsonld:
            "@id": deg:sanctionedLoadKW
        tariffCategoryCode:
          type: string
          minLength: 1
          description: Billing/tariff category code assigned by the utility.
          x-jsonld:
            "@id": deg:tariffCategoryCode
        premisesType:
          type: string
          enum:
            - Residential
            - Commercial
            - Industrial
            - Agricultural
          description: Type of premises for this connection. Optional.
          x-jsonld:
            "@id": deg:premisesType
        connectionType:
          type: string
          enum:
            - Single-phase
            - Three-phase
          description: Type of electrical connection. Optional.
          x-jsonld:
            "@id": deg:connectionType

    CustomerDetails:
      type: object
      description: >
        PII section. fullName appears ONLY here — never in customerProfile
        or any resource entry. Kept separate from customerProfile to allow
        PII-stripped presentation of the credential.
      required:
        - fullName
        - installationAddress
        - serviceConnectionDate
      x-jsonld:
        "@id": deg:customerDetails
      properties:
        fullName:
          type: string
          description: Full name of the customer as per ID proof.
        installationAddress:
          type: object
          description: Physical location of the installation. Follows the beckn Location schema.
          required:
            - address
            - area_code
            - country
          properties:
            address:
              type: string
            city:
              type: object
              properties:
                name: { type: string }
                code: { type: string }
            district:
              type: string
            state:
              type: object
              properties:
                name: { type: string }
                code: { type: string }
            country:
              type: object
              required: [code]
              properties:
                name: { type: string }
                code:
                  type: string
                  pattern: "^[A-Z]{2}$"
                  description: ISO 3166-1 alpha-2 country code.
            area_code:
              type: string
            gps:
              type: string
              description: "GPS coordinates as 'lat,lng' string."
            openLocationCode:
              type: string
              description: Open Location Code (OLC) for the installation.
        serviceConnectionDate:
          type: string
          format: date-time
          description: Date and time the electricity connection was activated (with timezone offset).
